.bundle
db/*.sqlite3
log/*
tmp
db/schema.rb
public/system
public/assets
*.DS_Store
coverage/*
*.sw[nomp]
rerun.txt
tags
!.keep
vendor/bundler_gems
public/poll*.csv
public/stylesheets/*.css
*~
*.orig
*.rdb
public/javascripts/*_packaged.js
tmp/capybara-*
member_award_summary.csv
.sass-cache/*
.rake_tasks
